$header-font: "IBM Plex Sans";

$body-font: "Barlow";
$body-size: 16px;

$bck: #111111;

$standard-br: 25px;
$standard-ls: 0.055em;

$home-thumb-fs: 34px; 

$card-dropshadow: 0px 4px 11px rgba(0, 0, 0, 0.25);

@mixin index-heading {
    font-family: $header-font;
    font-weight: bold;
    font-size: 24px;
    margin: 0 10% 20px;
    letter-spacing: $standard-ls;
}

@mixin index-icon-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: $header-font;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: center; 
}

@mixin index-icon-img {
    width: 100%;
    filter: brightness(0.6);
    border-radius: $standard-br;
    object-fit: cover;
    object-position: center; 
}