$header-font: "IBM Plex Sans";

$body-font: "Barlow";
$body-size: 16px;

$bck: #111111;

$standard-br: 25px;
$standard-ls: 0.055em;

$home-thumb-fs: 34px; 

$card-dropshadow: 0px 4px 11px rgba(0, 0, 0, 0.25);