#home {
    color: white;

    .logoCon {
        width: 85%;
        margin: 50px auto 60px;

        .logo { width: 100%; }
    }

    .explore {
        padding-bottom: 10%;

        h2 { @include index-heading }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &__itemWrapper {
            width: 39%;
            margin: 11px;
            position: relative;
        }

        &__item { text-decoration: none; }

        &__img { @include index-icon-img }

        &__title { @include index-icon-heading }
    }

    .recent {
        padding-bottom: 10%;
        h2 { @include index-heading }

        &__wrapper {
            display: flex;
            overflow-x: scroll;
            width: 100%;
        }

        &__itemWrapper {
            flex: 1 0 auto;
            width: 38%;
            position: relative;
            margin-right: 5%;
            overflow: hidden;

            &:first-child {
                margin-left: 5%;
            }
        }

        &__img { @include index-icon-img }

        &__title { @include index-icon-heading }
    }
}