#home {
    color: white;

    .logoCon {
        width: 85%;
        margin: 50px auto 60px;

        .logo { width: 100%; }
    }

    .explore {
        padding-bottom: 5%;

        h2 {
            font-family: $header-font;
            font-weight: bold;
            font-size: 22px;
            margin: 0 10% 20px;
            letter-spacing: $standard-ls;
        }

        &_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &_itemWrapper {
            width: 38%;
            margin: 13px;
            position: relative;
        }

        &_item { text-decoration: none; }

        &_img { 
            width: 100%;
            filter: brightness(0.6);
            border-radius: $standard-br;
            object-fit: cover;
            object-position: center; 
        }

        &_title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-family: $header-font;
            font-weight: bold;
            font-size: 28px;
            letter-spacing: 0.05em;
            text-align: center;
        }
    }
}